---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Facundo Fierro</h1>
			<p class="hero__text">
				Desarrollador proactivo y autodidacta, en constante aprendizaje de nuevas tecnologías y perfeccionando mis habilidades en inglés.
			</p>
			<Boton href="#" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="/letraf.jpeg"
		alt="Facundo Fierro"
		width="384"
    	height="384"
	/>
	</div>
</section>
