---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Desarrollador Frontend con experiencia en React, Tailwind CSS, Bootstrap, TypeScript, JavaScript y SQL. Actualmente explorando el desarrollo Backend para ampliar mis conocimientos y empleabilidad de mis habilidades en tecnologías de Servidor.
		</p>
	</div>
</section>
