---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
		src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairTheCaesar&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Smile&skinColor=Light"
		alt="Avatar"
		class="w-25 h-25 rounded-full mb-10 md:mb-0 md:mr-14"
	  />

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Desarrollador Frontend autodidacta, con experiencia en la creación de software escalable y a medida. Actualmente formo parte del equipo de desarrollo de una empresa de medicina prepaga, Abierto a nuevas propuestas laborales.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
